@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

/* header nav bar */
header{
    margin: 20px 50px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .logo{
    display: flex;
    align-items: center;
    transition: .5s;
}
header nav .logo h3{
    padding-left: 15px;
    font-size: 20px;
}
header nav .logo h3 span{
    color: rgb(255, 102, 0);
    font-size: 26px;
    padding-right: 10px;
}

header nav ul{
    list-style: none;
    display: flex;
}
header nav ul li{
    padding-right: 20px;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    transition: .7s;
}

header nav ul li a:hover{
    font-size: 1.2rem;
    transition: .6s;
    color: darkred;
}
/* hamburger */
.hamburger{
    display: none;
}

/* banner */
.banner{
    margin-top: 20px;
    background-image : url("images/Group 13 (1) (1).png");
    background-blend-mode: overlay;
    background-repeat : no-repeat;
    background-color: rgba(0, 0, 0, .4);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    color: white;
}
.banner .banner-content{
    width: 600px;
    text-align: center;
}

.banner .banner-content p{
    padding-top: 10px;
    padding-bottom: 10px;
}

.banner .banner-form{
    background: rgba(255, 255, 255, 0.3);
    padding: 20px 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.banner .banner-form input[type=text], select, .btn{
    padding: 10px 14px;
    width: 130px;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border: 0;
    padding-right: 10px;
}
.btn{
    background-color:rgb(255, 102, 0);
    color: white;
    font-weight: bold;
    transition: .5s;
}
.banner .banner-form .btn:hover a{
    background: transparent;
    color: white;
}

.banner .banner-form .btn:hover{
    border: 2px solid white;
}



/* main section */
/* section first */
.section-first{
    margin: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-first .section-first-content h2{
    padding-bottom: 20px;
}
.section-first .section-first-content p{
    padding-bottom: 20px;
}
.section-first .section-first-content ul{
    padding-bottom: 20px;
    margin-left: 20px;
    width: 500px;
}
.section-first .section-first-content ul li{
    padding-bottom: 10px;
}
.section-first .section-first-content ul span{
    font-weight: bold;
    font-size: 1.1rem;
}
.section-first img{
    width: 100%;
    height: 480px;
}

.btn a{
    text-decoration: none;
    color: white;
    transition: .5s;
}
.btn:hover{
    border: 2px solid black;
    background: transparent;
    color: orange;
    font-weight: bold;
    transition: .5s;
}
.btn:hover a{
    color: black;
}



/* section second */

.section-second{
    text-align: center;
    margin: 50px;
}

.section-second-content{
    background: lightgrey;
}

.section-second-img{
    width: 100%;
    height: 300px;
}

.section-second .row{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.section-second-img:hover{
    border: 2px solid black;
}

/* third section */
.section-third{
    margin: 80px 50px;
}

.for_h2{
    text-align: center;
    padding-bottom: 20px;
}

.for_p{
    text-align: center;
    padding-bottom: 40px;
}

.section-third .section-third-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 60px;
}

.section-third .section-third-content div{
    height: 200px;
    width: 400px;
    background: rgba(0, 0, 0, 0.15);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, .4);
}
.section-third-content i{
    color: green;
    font-size: 40px;
    padding-bottom: 10px;
}
.section-third-content h2{
    padding-bottom: 10px;
}
.section-third-content p{
    color: black;
}


/* section-fourth */
.section-fourth{
    margin: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-fourth .section-fourth-content{
    width : 400px;
    border: 1px solid darkorange;
    border-radius: 10px;
    padding: 20px;
}
.section-fourth .section-fourth-content h2{
    padding-bottom: 10px;
}
.section-fourth .section-fourth-content p{
    padding-bottom: 10px;
    margin: 0;
}

.section-fourth .section-fourth-content input[type = 'text'], input[type = 'email'], input[type = submit]{
    width: 200px;
    padding: 10px 12px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 7px;
}

.section-fourth .section-fourth-content input[type = submit]{
    text-align: center;
    background: #FF5400;
    color: white;
    border-radius: 7px;
    font-weight: bold;
    width: 220px;
}

.section-fourth-content-img img{
    height: 280px;
    width: 100%;
    margin-left: 20px;
    margin-top: 70px;
}

.box{
    width: 150px;
    height: 40px;
    color: white;
    background:#FF5400;
    text-align: center;
    padding: 15px;
    float: right;
    bottom: 100px;
    left: 20px;
    position: relative;
    transform: rotate(-19.628deg);
}

/* Advisors content --bonas */
.advisors{
    margin: 80px 50px;
}
.advisors .advisors-content{
    display: flex;
    justify-content : center;
    align-items: center;
}
.advisors .advisors-content .advisors-content-box{
    width: 290px;
    height: 320px;
    text-align : center;
    padding: 50px 20px;
    background: rgba(200, 0, 0, 0.15);
    margin: 30px;
    border-radius: 14px;
    box-shadow: 5px 7px 10px darkgrey;
    transition: .5s;
}
.advisors .advisors-content .advisors-content-box:hover{
    transition: .5s;
    transform: translateY(-10%);
}
.advisors .advisors-content .advisors-content-box img{
    width: 15%;
    border: 1px solid black;
    border-radius: 50%;
}
.advisors .advisors-content .advisors-content-box p{
    padding-bottom: 20px;
    padding-top: 10px;
}
.advisors h2{
    text-align: center;
}
.advisors h2, .advisors p{
    text-align: center;
    padding-bottom: 10px;
}




/* footer */
footer{
    background: rgba(19, 19, 24, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: 50px 60px;
}
footer div{
    text-align: center;
    width: 400px;
}
footer div div{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .logo span{
    color: rgb(255, 102, 0);
    font-size: 26px;
}
footer p{
    margin-top: 10px;
    margin-bottom: 15px;
}
footer a i{
    color: black;
    padding-right: 10px;
    transition: .5s;
}
footer .footer-p{
    padding-top: 20px;
}
footer a i:hover{
    font-size: 1.2rem;
    transition: .5s;
}




/* Responsive */

@media screen and (max-width: 600px) {
    /* header nav bar */
header{
    margin: 10px 20px;
}

header nav .logo h3{
    padding-left: 10px;
    font-size: 17px;
}

header nav .logo h3 span{
    font-size: 22px;
}

header nav ul{
    display : none;
}

/* hamburger */





/* banner */

.banner .banner-content{
    width: 300px;
    text-align: center;
}


.banner .banner-form{
    flex-direction: column;
}
.banner .banner-form input[type=text], select, .btn{
    padding: 10px 14px;
    width: 250px;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border: 0;
    margin-bottom: 10px;
}
.banner .banner-form input[type = text]{
    width: 224px;
}

/* main section */
/* section first */
.section-first{
    flex-direction: column;
    margin: 50px 10px;
}
.section-first .section-first-content{
    width: 330px;
}
.section-first .section-first-content h2{
    padding-bottom: 10px;
}
.section-first .section-first-content p{
    padding-bottom: 10px;
}
.section-first .section-first-content ul{
    padding-bottom: 10px;
    margin-left: 10px;
    width: 320px;
}
.section-first .section-first-content ul li{
    padding-bottom: 10px;
}
.section-first .section-first-content ul span{
    font-weight: bold;
    font-size: 1rem;
}
.section-first img{
    width: 100%;
    height: 360px;
    margin-top: 15px;
}

.section-first-p{
    padding-bottom: 20px;
}


/* section second */

.section-second{
    text-align: center;
    margin: 50px 20px;
}

.section-second-content{
    background: lightgrey;
}

.section-second-img{
    width: 100%;
    height: 190px;
}

.section-second .row{
    gap: 15px;
    flex-direction: column;
}

.section-second-img:hover{
    border: 2px solid black;
}

/* section third */
.section-third .section-third-content div{
    height: 260px;
    width: 400px;
}

/* section-fourth */
.section-fourth{
    margin: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-fourth .section-fourth-content{
    width : 310px;
    padding: 20px;
    border: 1px solid darkorange;
    border-radius: 8px;
    margin-bottom: 20px;
}
.section-fourth .section-fourth-content h2{
    padding-bottom: 10px;
}
.section-fourth .section-fourth-content p{
    padding-bottom: 10px;
}

.section-fourth .section-fourth-content input[type = 'text'], input[type = 'email'], input[type = submit]{
    width: 270px;
    padding: 10px 12px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 7px;
}

.section-fourth .section-fourth-content input[type = submit]{
    text-align: center;
    background: #FF5400;
    color: white;
    border-radius: 7px;
    font-weight: bold;
    width: 290px;
}

.section-fourth-content-img img{
    height: 250px;
    width: 345px;
    margin: 0;
}
.box{
    width: 150px;
    height: 40px;
    color: white;
    background:#FF5400;
    text-align: center;
    padding: 15px;
    float: right;
    bottom: 100px;
    position: relative;
    transform: rotate(-19.628deg);
    margin-right: 25px;
    margin-left: 0px;
}



/* Advisors content --bonas */
.advisors{
    margin: 80px 20px;
}
.advisors .advisors-content{
    display: flex;
    justify-content : center;
    align-items: center;
    flex-direction: column;
}
.advisors .advisors-content .advisors-content-box{
    width: 250px;
    height: 280px;
}


/* footer */
footer{
    margin-top: 80px;
    padding: 30px 30px;
}
footer div{
    text-align: center;
    width: 340px;
}
footer div div{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a i{
    color: black;
    padding-right: 10px;
    transition: .5s;
}
footer .footer-p{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
footer a i:hover{
    font-size: 1.2rem;
    transition: .5s;
}
}